* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: pink;
}

img {
    min-width: 110%;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100;}
}

#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 10%;
  min-height: 10%;
}

#Video2 {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 10%;
  min-height: 10%;
}
